.image-slider {
	width: 740px; 
	height: 240px;
	margin:0 auto;
	position: relative;
	overflow: hidden;
}
.image-slider ul.pagination {
	position: absolute;
	top: 90%;
	z-index: 99;
	right: 10px;
}
.image-slider .pagination li a {
    background-image: url("pagination.png");
    background-position: 0 0;
    display: block;
    float: left;
    height: 0;
    overflow: hidden;
    padding: 12px 0 0 0;
    width: 12px;
}
.image-slider .pagination li {
    float: left;
    list-style: none outside none;
    margin: 0 1px;
}
.image-slider .pagination li.current a {
    background-position: 0 -12px;
}
.image-slider-form-wrapper {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px; 

	webkit-box-shadow: inset 1px 1px 8px 3px #8E8A8A;
	-moz-box-shadow: inset 1px 1px 8px 3px #8E8A8A;
	box-shadow: inset 1px 1px 8px 3px #8E8A8A; 
	padding: 2em;
	margin-top: 1em;
	background: #EFEFEF;
}